* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 42px;
}

.gobal-nav {
    background-color: #fff;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(30px);
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 15px;
    width: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#bar {
    text-decoration: none;
    color: #333336;
    padding-left: 10px;
    padding-right: 10px;
}

#shop {
    padding-left: 10px;
    padding-right: 10px;
}

.bar {
    background-color: rgb(255, 255, 255);
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar a {
    text-decoration: none;
    color: #0066cc;
}

.product-red {
    width: 100%;
    height: 660px;
    background-size: contain;
    position: relative;
    text-align: center;
}

.product-red img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.center-up {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -40%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333336;
}

.center-down {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333336;
}

#btn-up {
    position: absolute;
    top: 30%;
    left: 45%;
    bottom: 70%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    border: 1px solid whitesmoke;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    align-content: center;
    color: #ffffff;
}

#btn-down {
    position: absolute;
    top: 30%;
    left: 58%;
    bottom: 70%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: white;
    text-decoration: none;
    align-content: center;
    color: #0071e3;
    transition-property: all;
    transition-duration: 0.3s;
}

#btn-down:hover {
    background-color: #0071e3;
    color: #fff;
}

.gift {
    width: 100%;
    height: 660px;
    background-size: contain;
    position: relative;
    text-align: center;
}

.gift img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 270px;
}

.center-down-up {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #333336;
    text-wrap: nowrap;
}

.center-down-down {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 127%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333336;
    font-size: 26px;
    text-wrap: nowrap;
}

#btn-down-down {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 135%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    align-content: center;
    color: #ffffff;
}

.iphone16pro {
    width: 100%;
    height: 660px;
    background-size: contain;
    position: relative;
    text-align: center;
}

.iphone16pro img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 340px;
}

.center-mid-up {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #f5f5f7;
    text-wrap: nowrap;
}

.center-mid-down {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -50%);
    color: #f5f5f7;
    font-size: 27px;
    text-wrap: nowrap;
}

#btn-mid-up {
    position: absolute;
    /* top: 30%; */
    left: 45%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    align-content: center;
    color: #ffffff;
}

#btn-mid-down {
    position: absolute;
    left: 56%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: transparent;
    text-decoration: none;
    align-content: center;
    color: #0071e3;
    transition-property: all;
    transition-duration: 0.3s;
}

#btn-mid-down:hover {
    background-color: #0071e3;
    color: #fff;
}

.iphone16 {
    width: 100%;
    height: 660px;
    background-size: contain;
    position: relative;
    text-align: center;
}

.iphone16 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 409px;
}

.center-end-up {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: #f5f5f7;
    text-wrap: nowrap;
}

.center-end-down {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    color: #f5f5f7;
    font-size: 30px;
    text-wrap: nowrap;
}

#btn-end-up {
    position: absolute;
    /* top: 30%; */
    left: 45%;
    bottom: 0.01%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    border: 1px solid #f5f5f7;
    border-radius: 100px;
    background-color: #f5f5f7;
    text-decoration: none;
    align-content: center;
    color: #000;
}

#btn-end-down {
    position: absolute;
    left: 56%;
    bottom: 0.01%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;
    border: 1px solid #f5f5f7;
    border-radius: 100px;
    background-color: transparent;
    text-decoration: none;
    align-content: center;
    color: #f5f5f7;
    transition-property: all;
    transition-duration: 0.3s;
}

#btn-end-down:hover {
    background-color: #f5f5f7;
    color: #000;
}

.ipadair {
    width: 100%;
    height: 660px;
    background-size: contain;
    position: relative;
    text-align: start;
}

.ipadair img {
    width: 49.5%;
    height: auto;
    object-fit: cover;
    margin-top: 480px;
}

#ipadname {
    position: absolute;
    /* top: 50%; */
    left: 25%;
    top: 8%;
    transform: translate(-50%, -50%);
    background-size: contain;
    object-fit: cover;
    height: auto;
    width: auto;
}

#ipadname-end {
    position: absolute;
    top: 87%;
    left: 25%;
    /* top: 13%; */
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #333336;
}

#airpods-end-up {
    position: absolute;
    /* top: 30%; */
    left: 70%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 140px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #ffffff;
}

#airpods-end-down {
    position: absolute;
    left: 80%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #0071e3;
    transition-property: all;
    transition-duration: 0.3s;
}

#airpods-end-down:hover {
    background-color: #0071e3;
    color: #fff;
}

.airpods {
    /* width: 100%; */
    /* height: 660px; */
    background-size: contain;
    position: relative;
    text-align: end;
}

.airpods img {
    width: 49.5%;
    height: auto;
    object-fit: cover;
    margin-top: -180px;
}

.airpords-name {
    position: absolute;
    /* top: 50%; */
    left: 75%;
    bottom: 56%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #f5f5f7;
    text-wrap: nowrap;
}

#airpodsname-end {
    position: absolute;
    top: 41%;
    left: 75%;
    bottom: 83%;
    transform: translate(-50%, -50%);
    color: #f5f5f7;
    font-size: 25px;
    text-wrap: nowrap;
}

#ipads-end-up {
    position: absolute;
    /* top: 30%; */
    left: 20%;
    bottom: -3%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 140px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #ffffff;
}

#ipad-end-down {
    position: absolute;
    left: 30%;
    bottom: -3%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #0071e3;
    transition-property: all;
    transition-duration: 0.3s;
}

#ipad-end-down:hover {
    background-color: #0071e3;
    color: #fff;
}

.watch {
    background-size: contain;
    position: relative;
    text-align: start;
}

.watch img {
    width: 49.5%;
    height: 625px;
    object-fit: cover;
    position: absolute;
    margin-top: 10px;
}

#watchname {
    position: absolute;
    left: 20%;
    right: 79%;
    top: 40px;
    /* Use a pixel value to set a fixed position */
    background-size: contain;
    object-fit: cover;
    height: auto;
    width: auto;
}

#watch-end-up {
    position: absolute;
    /* top: 30%; */
    left: 21%;
    top: 155px;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: #0071e3;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #ffffff;
}

#watch-end-down {
    position: absolute;
    left: 27.5%;
    top: 130px;
    /* transform: translate(-50%, -50%); */
    height: 50px;
    width: 130px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #0071e3;
    transition-property: all;
    transition-duration: 0.3s;
}

#watch-end-down:hover {
    background-color: #0071e3;
    color: #fff;
}





.macbook {
    width: 100%;
    /* height: 660px; */
    background-size: contain;
    position: relative;
    text-align: end;
}

.macbook img {
    width: 49.5%;

    object-fit: cover;
    margin-top: -1px;
}